.footer {
  font-size: 15px;
  /* Font size for the footer text */
  margin: 0;
  /* Remove default margin */
  display: flex;
  /* Use flexbox for layout */
  justify-content: center;
  /* Center the content horizontally */
  align-items: center;
  /* Center the content vertically */
  height: 38px;
  /* Fixed height for the footer */
  padding: 40px;
  background-color: black;
  text-align: center;
}

.txt {
  text-align: center;
  margin-bottom: 5px;
  color: white
}