header {
  display: flex;
  /* Use flexbox for the header */
  align-items: center;
  /* Center items vertically */
  justify-content: space-between;
  /* Space between left and right sections */
  position: sticky;
  /* Stick to the top on scroll */
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
  padding: 10px 20px;
}

.header-left {
  /* Styles for the left section */
}

.ikons {
  display: flex;
  justify-content: center;

}

.header-center-left {
  display: flex;
  /* Use flexbox to arrange items */
  align-items: center;
  /* Center items vertically */
  justify-content: center;
  /* Center the items horizontally */
}

.header-center {
  display: flex;
  /* Flexbox for center links */
  justify-content: center;
  /* Center the links inside this div */
  flex-grow: 1;
  /* Allow this div to grow */
}

.header-center .link-container {
  margin: 0 15px;
  /* Space between center links */
}

.header-right {
  display: flex;
  /* Keep the right section as flex */
  align-items: center;
  /* Center items vertically */
  margin-left: auto;
  /* Push this section to the right */
}

.header-right .link-container {
  margin-left: 15px;
  /* Add space between right links */
}

.home-button {
  color: black;
  padding: 10px;
  margin: 0 20px;
}